@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/variables.scss';
@import './styles/sidebar.scss';

@layer base {
  html,
  body {
    @apply h-full m-0 p-0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  #app {
    @apply h-full;
  }

  *,
  *:before,
  *:after {
    @apply box-border m-0 p-0;
  }

  a:focus,
  a:active {
    @apply outline-none;
  }

  a,
  a:focus,
  a:hover {
    @apply cursor-pointer no-underline;
    color: inherit;
  }

  div:focus {
    @apply outline-none;
  }
}

@layer utilities {
  .clearfix {
    &::after {
      @apply invisible block clear-both h-0;
      font-size: 0;
      content: ' ';
    }
  }
}
